@model IEnumerable<WebDeveloper.Model.Books>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pub_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.advanced)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.royalty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ytd_sales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pubdate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pub_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.advanced)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.royalty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ytd_sales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pubdate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.title_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.title_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.title_id })
        </td>
    </tr>
}

</table>
